/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GLOBAL STYLES */

body {
  background: url(../images/2480x1220-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Teko", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #996098;
}

a:hover {
  color: #996098;
}

.nobackground {
    background: #060606;
    background-color: rgba(6,6,6,0.80);
    box-shadow: 0 0 5px 5px rgba(6,6,6,0.80);
    opacity: 0.99;
    margin-top: 30px;
}

.factions {
  background-color: none;
}

.btn-pirate:hover, .btn-pirate:active {
    background-color: #386d39;
}

.btn-pirate, .btn-pirate:visited {
    background-color: #3c763d;
}

hr {
  border-style: solid;
  border-color: #996098;
}

.the-end {
  text-align: center;
  color: #996098;
}

/* HEADLINE */

.top_header h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  color: #996098;
  text-shadow:1px 1px 10px #000, 1px 1px 10px #ccc;
  font-family: "Anton", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* MAIN SECTION */

.faction_logos {
  height: 100px;
  text-align: center;
}

.btn {
  margin: 5px;
  width: 100%;
}

.ship {
  text-align: center;
}

/* FACTION LOGO EFFECTS */

.shadowfilter-gold {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}.shadowfilter-gold:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(240, 174, 80, 0.8));
}

.shadowfilter-green {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}.shadowfilter-green:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(91, 184, 92, 0.8));
}

.shadowfilter-blue {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}.shadowfilter-blue:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(2, 117, 216, 0.8));
}

.shadowfilter-red {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}.shadowfilter-red:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(217, 83, 79, 0.8));
}

/* MASTER HEADER AND FOOTER STYLES */

.master_header {
  font-size: 1.0em;
  text-align: center;
}

.master_header h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #CCC;
}

/* SECTION HEADERS */

.section_header {
  text-align: left;
}

/* SECTION TITLES */

.section_header h1 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #CCC;
}

.section_header h2 {
  margin-top: 20px;
  margin-bottom: 3px;
  color: #CCC;
}

.bracket-icon {
  margin-top: 15px;
}

.bracket-icon-destroyer {
  margin-top: 9px;
}

.bracket-icon-cruiser {
  margin-top: 5px;
}

.bracket-icon-battlecruiser {
  margin-top: 3px;
}

.bracket-icon-bettleship {
  margin-top: 0px;
}

/* MODAL FIX */

.modal-backdrop {
  z-index: -1;
}

/* CARD IMAGE */

.card-img-top {
  float:left;
  height: 100%;
}

.card-img-damage {
  float:left;
  height: 100%;
  margin-left: 20px;
}

/* CARDS */

.modal-content {
  background: rgba(204,204,204,0.65);
}

.card {
  color: #CCC;
  background-color: black;
}

.card-block {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card-header {
  border: 0;
  padding: 0;
}

.card-header h1 {
  padding-top: 22px;
  color: #FFF;
}

.card-header-amarr {
  background-color: #f0ad4e;
}

.card-header-gallente {
  background-color: #5cb85c;
}

.card-header-caldari {
  background-color: #0275d8;
}

.card-header-minmatar {
  background-color: #d9534f;
}

.amarr {
  color: #f0ad4e;
}

.gallente {
  color: #5cb85c;
}

.caldari {
  color: #0275d8;
}

.minmatar {
  color: #d9534f;
}

.card-button {
  width: 50%;
}

.card-bold {
  font-weight: 700;
}

.card-subtitle {
  margin-bottom: 20px;
  font-weight: 700;
}

.text-muted {
  color: #0275d8!important;
}

.btn-success, .btn-warning, .btn-success:hover, .btn-warning:hover {
  color: #464a4c;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
